<ul class="dropdown" id="decor"><!-- menu -->

    <li class="decor"><a href="index.html">Home</a></li>

    {% comment %}<li><a href="gallery.html">Gallery</a>
<ul class="sub_menu">
    <li><a href="gallery.html">Portraits</a></li>
    <li><a href="gallery.html">Landscapes</a>
        <ul>
        <li><a href="gallery.html">Asia</a></li>
        <li><a href="gallery.html">Africa</a></li>
        </ul>
    </li>
    <li><a href="gallery.html">Weddings &amp; Social</a></li>
    <li><a href="gallery.html">Sports</a></li>
    <li><a href="gallery.html">Fine Art</a></li>
</ul>
</li>{% endcomment %}

    <!-- end submenu -->

    <li class="decor"><a href="page.html">Page</a></li>

</ul><!-- close menu -->