<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">
{% include 'structure/head_ref.html' %}

<body>
{% include 'structure/site_ref.html'%}

{% include 'structure/intro.html' %}

{% include 'structure/main_menu.html' %}

    <div id="gallery">
        <ul class="additional">
        <!--放图片-->
            <li>
                <div class="new_pic">
                    to be set..
                </div>
            </li>
            <p></p>
        <!--自我介绍-->
            <li>
                <p>自我介绍</p>
            </li>
        <!--归档-->
            <li>
                <h2>Archive</h2><p/>
                    <li>
                        >><a href="#">Any date</a>
                    </li><p/>
                    <li>
                        >><a href="#">Today</a>
                    </li><p/>
                    <li>
                        >><a href="#">Past 7 days</a>
                    </li><p/>
                    <li>
                        >><a href="#" class="selected">This month</a>
                    </li><p/>
                    <li>
                        >><a href="#">This year</a>
                    </li><p/>
            </li>
        <!--放外链-->
            <li>
                <div>
                    <p>
                    <h3>OUTER_LINKS</h3>
                    </p>
                    {% for link in links %}
                        <h6></a><a href='{{ link.site }}'>{{ link.name }}</a></h6>
                    {% endfor %}
                </div>
            </li>
        </ul>
    </div>

<ul>
    <li class="new_words" id="decor">

    </li>
    {% for blog in blogs %}
    <li id="box">
        <div>
            <h3>
                {{ blog.title }}
            </h3>
            <p id="text-left">
                {{ blog.content|slice:"200"|escape|linebreaksbr|safe  }}
                <a href="#">......</a>
            </p><!--!-->
            <p id="text-right">{{ blog.date|date:"F j, Y" }}</p>
        </div>
    </li>
    {% endfor %}

{% include 'structure/index_bar.html' %}
</ul>
{% include 'structure/common_footer.html' %}
</body>
</html>