<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">
{% include 'structure/head_ref.html' %}

<body>
<!-- about link to other site -->
{% include 'structure/site_ref.html'%}

<div id="intro" class="decor">
    <p>
        <span>content..</span>
    </p>
</div>

{% include 'structure/main_menu.html' %}

    <div id="gallery"><!-- gallery -->
        <ul>
          <li class="new_pic">
            <a href="gallery.html"></a>
          </li>
          <li class="new_words">
          </li>
        </ul>
    </div><!-- close gallery -->

<ul id='catalogue'>
    <li>
        <div class="decor">
            <p>
                <h3>OUTER_LINKS</h3>
            </p>
            <!--进行for循环-->
            <a href={{ site|escape }}>{{ namespace }}</a>
        </div>
    </li>
</ul>


<ul>
    <!--进行for循环-->
    <li id="box">
        <div>
            <h3>
                T1
                <a href="page.html"><img src="/site_media/images/more.png" class="more" width="68" height="24" alt="more" /></a>
            </h3>
        <p>
            content
        </p>
        </div>
    </li>

    <li id="page_index">
        <h2>next</h2><!--将页面作为默认值进行传入-->
    </li>
</ul>

<div id="footer">
Exclusively on <a href="http://tonlog.herokuapp.com">Tonie</a>
</div>

</body>
</html>
