<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">
{% include 'structure/head_ref.html' %}

<body>
{% include 'structure/site_ref.html'%}

<div id="intro" class="decor">
    <p>
        <span>content..</span>
    </p>
</div>

{% include 'structure/main_menu.html' %}

    <div id="gallery">
        <ul>
            <li class="new_words">
            </li>
            <li class="new_pic">
                <a href="gallery.html"></a>
            </li>
        </ul>
    </div>

<ul id='catalogue'>
    <li>
        <div class="decor">
            <p>
                <h3>OUTER_LINKS</h3>
            </p>
            {% for link in links %}
            <h6></a><a href='{{ link.site }}'>{{ link.name }}</a></h6>
            {% endfor %}
        </div>
    </li>
</ul>

<p>{{ li }}</p>


<ul>
    {% for blog in blogs %}
    <li id="box">
        <div>
            <h3>
                {{ blog.title }}
                <a href="page.html"><img src="/site_media/images/more.png" class="more" width="68" height="24" alt="more" /></a>
            </h3>
            <p id="text-left">
                {{ blog.content }}
            </p>
            <p id="text-right">{{ blog.date }}</p>
        </div>
    </li>
    {% endfor %}

{% include 'structure/index_bar.html' %}
</ul>
{% include 'structure/common_footer.html' %}
</body>
</html>
