<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="/site_media/style.css" media="all" />
<title>Classic Luxury Gallery | www.csstemplateheaven.com</title>

{% include 'structure/fancybox.html' %}
{% include 'structure/dropdown.html'%}

</head>

<body>
{% include 'structure/site_ref.html' %}
{% include 'structure/main_menu.html' %}



<div id="content"><!-- content -->

    <ul>
        <li>
            <div id="box2">
                <h3>
                    title1
                    <a href="#"><img src="/site_media/images/more.png" class="more" width="68" height="24" alt="more" /></a>
                </h3>
                <p>

                </p>
            </div>
        </li>
    </ul>
                        
</div><!-- end content -->


<div id="sidebar"><!-- sidebar -->

<h3>Recent</h3>

    <div class="navcontainer">
    <ul>
    <li><a href="#">Lorem ipsum dolor</a></li>
    <li><a href="#">Maecenas leo risus</a></li>
    <li><a href="#">Donec ac felis</a></li>
    <li><a href="#">Proin interdum</a></li>
    <li><a href="#">Morbi dapibus erat</a></li>
    </ul>
    </div>

<h3>Archive</h3>

    <div class="navcontainer">
    <ul>
    <li><a href="#">February</a></li>
    <li><a href="#">January</a></li>
    <li><a href="#">December</a></li>
    <li><a href="#">November</a></li>
    <li><a href="#">October</a></li>
    </ul>
    </div>
    
<h3>Some Text</h3>

<p>Proin interdum lobortis venenatis. Donec ac felis accumsan arcu ultricies consequat imperdiet non felis. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>

<h3>Text in a box</h3>

<p class="sidebar_box">
Donec ac felis accumsan arcu ultricies consequat imperdiet non felis. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
</p>

</div><!-- end sidebar -->

{% include 'structure/index_bar.html' %}

<div id="footer">
Exclusively on <a href="http://tonlog.herokuapp.com">Tonie</a>
</div>

</body>
</html>
