<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="/site_media/style.css" media="all" />
<title>Tonlog</title>

{% include 'structure/fancybox.html' %}
{% include 'structure/dropdown.html'%}

</head>

<body>
{% include 'structure/site_ref.html' %}

{% include 'structure/intro.html' %}

{% include 'structure/main_menu.html' %}



<div id="content"><!-- content -->

    <ul>
        {% for blog in blogs %}
        <li>
            <div id="box2">
                <h3>
                    {{ blog.title }}
                    <a href="#"><img src="/site_media/images/more.png" class="more" width="68" height="24" alt="more" /></a>
                </h3>
                <p id="text-left">
                    {{ blog.content|slice:"30" }}
                </p>
                <p id="text-right">{{ blog.date|date:"F j, Y" }}</p>
            </div>
        </li>
        {% endfor %}
        {% include 'structure/index_bar.html' %}
    </ul>
                        
</div><!-- end content -->


<div id="sidebar"><!-- sidebar -->

<h3>Recent</h3>

    <div class="navcontainer">
    <ul>
        {% for tonlog in recents %}
        <li>
            <a href="#">{{ tonlog.title }}</a>
            <p id="text-right">{{ tonlog.date|date:"F j, Y" }}</p>
        </li>
        {% endfor %}
    </ul>
    </div>

<h3>Archive</h3>

    <div class="navcontainer">
    <ul>
        <!--list all-->
        <li><a href="#">Catagory</a></li>
    </ul>
    </div>

<!--
<h3>Some Text</h3>
制作一个标签云..
<p>Proin interdum lobortis venenatis. Donec ac felis accumsan arcu ultricies consequat imperdiet non felis. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
-->
<h3>P.S.:</h3>

<p class="sidebar_box">
Here are the postScript..
</p>

</div><!-- end sidebar -->
{% include 'structure/common_footer.html' %}
</body>
</html>
